div.calculadora {
    border: double;
    margin-left: 10%;
    margin-right: 70%;
    
}

h1 {
    border: dotted;
    padding: 30px 10px 10px 10px;
    margin-left: 2%;
    margin-right: 2%;
}

button {
    color: tomato;
    border: thin;
    padding: 20px;
}